In [158]:
# require dependency
import pandas as pd

In [159]:
# read in data
path = "./data/FoodBalanceSheets_E_Africa_NOFLAG.csv"
data_food = pd.read_csv(path, encoding="latin-1")

In [160]:
# view data
data_food.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

What is the total sum of Wine produced in 2015 and 2018 respectively?

In [161]:
data_food.groupby(["Item"])[['Y2015', 'Y2018']].sum().loc["Wine"]

Y2015    4251.81
Y2018    4039.32
Name: Wine, dtype: float64

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the highest sum in 2017?

In [162]:
data_food.groupby('Area')['Y2017'].sum().sort_values(ascending=False).head(1)

Area
Nigeria    1483268.23
Name: Y2017, dtype: float64

What is the total number of unique countries in the dataset?

In [163]:
data_food['Area'].nunique()

49

Perform a groupby operation on ‘Element’.  What is the total number of the sum of Processing in 2017?

In [164]:
data_food.groupby(['Element'])['Y2017'].sum().sort_values(ascending=False).loc[["Processing"]]

Element
Processing    292836.0
Name: Y2017, dtype: float64

What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [165]:
# Calculate the number of missing values in each column
missing_count = data_food.isna().sum()

# Calculate the percentage of missing values in each column
missing_percentage = round((missing_count / len(data_food)) * 100,3)

# Concatenate the number and percentage of missing values as different columns
missing_info = pd.concat([missing_count, missing_percentage], axis=1)
missing_info.columns = ['Missing Count', 'Missing Percentage']

# Print the result
print(missing_info)

              Missing Count  Missing Percentage
Area Code                 0               0.000
Area                      0               0.000
Item Code                 0               0.000
Item                      0               0.000
Element Code              0               0.000
Element                   0               0.000
Unit                      0               0.000
Y2014                  1589               2.607
Y2015                  1548               2.540
Y2016                  1535               2.519
Y2017                  1506               2.471
Y2018                  1436               2.356

Which year had the least correlation with ‘Element Code’?

In [166]:
data_food.loc[:, ['Element Code', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']]\
    .corr()\
    .loc['Element Code']\
    .sort_values()\
    .head(1)

Y2016    0.023444
Name: Element Code, dtype: float64

What is the total Protein supply quantity in Madagascar in 2015?

In [167]:
data_food\
    .groupby(['Element', "Area"])['Y2015']\
    .sum().sort_values(ascending=False)\
    .loc[[("Protein supply quantity (g/capita/day)", "Madagascar")]]

Element                                 Area
Protein supply quantity (g/capita/day)  Madagascar    173.05
Name: Y2015, dtype: float64

Perform a groupby operation on ‘Element’.  What year has the highest sum of Stock Variation?

In [168]:
data_food\
    .groupby("Element")[['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].sum()\
    .loc['Stock Variation']\
    .sort_values(ascending=False).head(1)

Y2014    58749.83
Name: Stock Variation, dtype: float64

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [169]:
result = data_food[['Y2017', 'Area']].groupby('Area')['Y2017'].sum().sort_values()

# Select the area with the 7th lowest sum
seventh_lowest_area = result.index[6]

# Display the result
print(seventh_lowest_area)

Guinea-Bissau

What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [170]:
mean_2017 = data_food['Y2017'].mean()
std_dev_2017 = data_food['Y2017'].std()

# Round the results to 2 decimal places
mean_2017 = round(mean_2017, 2)
std_dev_2017 = round(std_dev_2017, 2)

# Display the mean and standard deviation
print("Mean for 2017:", mean_2017)
print("Standard Deviation for 2017:", std_dev_2017)

Mean for 2017: 140.92
Standard Deviation for 2017: 1671.86